body {
    background-color: #ffffff;
    margin-top: 2%;
}
header,
main {
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    margin-right: calc((100% - 1000px) / 2);
    margin-bottom: 100px;
    display: inline-block;
}
header > img {
    float: left;
    height: 20px;
}
    nav {
    float: right;
    margin-top: 3px;
}
    nav > a {
    text-decoration: none;
    color: #1C2D33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
    nav > a:nth-child(1) {
    margin: 0;
    }
    nav > a:hover {
    background-color: burlywood;
    transition: 0.8s;
    }
main > div {
    width: 50%;
    float: left;
}
main > div > h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 95px;
    color: #1C2D33;
    line-height: 40px;
}
main > div > h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0px;
    color: #1C2D33;
    margin-bottom: 5px;
    }
main > div > hr {
    border: none;
    height: 4px;
    border-radius: 2px;
    background-color: #6CBEDD;
    float: left;
    width: 150px;
}
main > div > p {
    color: #6E797D;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-bottom: 50px;
    margin-top: 5px;
}
main > div > div {
    display: inline-block;
}
main > div > div > a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid 2px #6CBEDD;
    background-color: #6CBEDD;
    color: #FAFDFE;
    margin-right: 20px;
}
main > div > div > a:nth-of-type(2) {
    border-color: #92B8C7;
    background-color: #fff;
    color: #242424;
    margin: 0px;
}
main > img {
    width: 50%;
    float: right;
}